 % extends "mainApp/header.html" %}
 {% load static %}
 {%block content %}

<link rel="stylesheet" href="static/css/style.css"> </link>
 <p><h1 align="center"><font size="6" color="hotpink" >Жіночі парфуми </font></h1></p>
  				<link rel="stylesheet" href="css/style_M.css">

	<table border = "0" width ="70%" align= "center" >

		<tr>
			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/womens_parfum_foto/1.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="{% url 'strong1'%}">  Armani Sky di Giola </div> <a> 1689 грн </a> <br><br><a href="#" class="button7"> купити </a></th>

			<th> <a href="{% url 'strong1'%}" > <img  src = "static/mainApp/popular_parfum_foto/2.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">  Jimmy Choo L'eau </div> <a> 988 грн </a> <br> <br> <a href="#" class="button7"> купити </a></th>

			<th>  <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/3.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum"> YSL Black Opium </div> </a> <a> 2130 грн </a> <br><br> <a href="#" class="button7"> купити </a></th>

			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/4.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Lanvin Eclat de Nuit </div>  </a> <a> 1299 грн </a> <br><br> <a href="#" class="button7"> купити </a></th>

		</tr>


		<tr>

			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/5.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Mexx Black </div>  </a> <a> 517 грн  </a><br><br> <a href="#" class="button7"> купити </a></th>

			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/6.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Boss Nuit  </div>  </a><a> 1389 грн   </a> <br><br><a href="#" class="button7"> купити </a></th>

			<th > <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/7.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Carolina Herrera Good Girl </div>   </a><a>1955 грн </a> <br><br><a href="#" class="button7"> купити </a></th>

			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/8.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Afnan Supremacy Pink</div>  </a><a>2048 грн  </a><br><br> <a href="#" class="button7"> купити </a></th>

		</tr>


		<tr>
			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/9.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Calvin Klein Obsessed</div>  </a><a>2098 грн   </a><br><br><a href="#" class="button7"> купити </a></th>

			<th> <a href="{% url 'strong1'%}" > <img  src = "static/mainApp/popular_parfum_foto/10.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Paco Rabanne Lady Million Prive </div>  </a><a> 2389 грн   </a> <br><br><a href="#" class="button7"> купити </a></th>

			<th > <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/11.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum"> Angel Schlesser Pour Elle eau de toilette </div> </a><a>1318 грн  </a><br><br><a href="#" class="button7"> купити </a></th>

			<th> <a href="{% url 'strong1'%}" > <img  src = " static/mainApp/popular_parfum_foto/12.jpg"  height="200em" alt="картинку вкрали" > 
	<div  class="infa_parfum">Armand Basi In Me </div>   </a><a>965 грн  </a><br><br><a href="#" class="button7"> купити </a></th>

		</tr>

	</table>
 <p align= "right" ><a class="topbutton" href="#top">Вгору▲</a></p>
<p align= "right" ><a class="buttontop" href="#button">Донизу▼</a></p>
 {% endblock %}