а{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   a:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color:black; /* Ссылка красного цвета */
   } 

   а{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   b:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color:red; /* Ссылка красного цвета */
   } 

  
  