а{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   a:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color:black; /* Ссылка красного цвета */
   } 

   а{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   b:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color:red; /* Ссылка красного цвета */
   } 

   <!-- basic styling just for this demo -->
  <style type="text/css" media="screen">
    *{margin:0 auto;}
    #wrapper {width:90%;margin:15px auto;}
    p { margin:20px 0;}
  </style>