body{
  background-color:#ffff;
  width: 100%;
}

.logo a{
  margin-left: 30px;
  color: #000000;
  font-size: 16px;
}
.shol_parf{
text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	margin-top:  20px;
	margin-left: 60%;
float: left;
}
.img1{
	color: #fff;
	font-size: 24px;
	margin-top:  20px;
	margin-left: 50%;
float: left;
}
.img2{

padding-top: 1%;
	margin-top:  0%;
	
}
.new_parfum{
	text-align: center;
}
P_r {
 border: 3px solid red; 
    padding: 5px; 
}

a.button7 {
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: .6em 1em calc(.6em + 2px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url('icon_top.png') no-repeat;
}
.topbutton {

    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:42px;
    right:1px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

}

.buttontop {

    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:1px;
    right:1px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

}


del{
  color:green;
  font-size:20px;
}
input:valid + span:after {
    content: url(images/ok.png); 
    padding-left: 5px;

   }
   input:invalid + span:after {
    content: url(images/nook.png);
    padding-left: 5px;

   }
   input[type="number"] {
    margin-right: -3px;
   }
   /*.card{
 padding-left: 10%;

   }*/
   .dani{
     padding-left: 2%;
   }
  .form1{
   padding-right: : 60%;
    margin: 50px;
    float: right;

  }
  #toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../images/top.png) no-repeat left top;
}

#toTopHover {
  background:url(../images/top.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;  
  filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
  outline:none;
}
.product{
  float:left;
  width: 50%;
}
.smallProduct{
  width:25%;
  float:left;
  margin-bottom: 5%;
}
.context{
  margin-left: 5%
}

button.t0 {
    background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
    color: #fff;
    border: 3% solid  #666;
  }

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
}   
 /*------------------------------------------------------------------------------*/
.dropdown:hover .dropdown-content {display: block;}

.regImage{
  padding-bottom: 15%;
}
.null span {
    font-family: 'Muli';
    color: #C0C0C0;
    font-size: 24px;
}
 
.wrapper {
    position: relative;
    display: inline-block;
    margin: 19px;
}
 
.null {
    position: absolute;
    right: 0;
    top: 0
}
#product_image_page{
  width:30%;
  height: 5%;
}
.table{
  width:1050px;
  height: 600px;
  background-color: #E6E6FA;
  margin: 90px auto 0 auto;
  text-align: center;
}

.basket_png{
  margin: 20px 930px -45px 0;
}

.table a{
  margin: 10px 730px 12px 0;
  font-size: 25px;
}

.shopping_go_on{
  margin: -29px -650px 0 0;
  font-size: 25px;
}

.basket_foto{
  margin: 10px 710px 0 0;
}

.line1{
  margin: 25px 0 0 0;
}

.line2{
  margin: 240px 0 0 0;
}

h2{
  margin: 10px 720px 12px 0;
}

.kilkist{
  margin: -245px -120px 0 0;
  font-size: 25px;
}

.price{
  margin: -25px -550px 0 0;
  font-size: 25px;
}

.do_oplaty{
  margin: 10px 400px 12px 0;
  font-size: 30px;
}

.price2{
  margin: -45px -300px 0 0;
  font-size: 30px;
}
 
.dws-input input:hover{
  box-shadow: 0 0 6px 3px #000000;
}

.dws-basket{  
  padding: 10px 25px;
  margin: 15px 40px 44PX 0;
  font-size: 20px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-radius: 14%;
}

.dws-basket:hover{
  transition: all 0.5s;
  background: #fff;
  color: #2c536c;
}
