body{
  background-color:#ffff;
}
.shol_parf{
text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	margin-top:  20px;
	margin-left: 60%;
float: left;
}
.img1{
	color: #fff;
	font-size: 24px;
	margin-top:  20px;
	margin-left: 50%;
float: left;
}
.img2{

padding-top: 1%;
	margin-top:  0%;
	
}
.new_parfum{
	text-align: center;
}
P_r {
 border: 3px solid red; 
    padding: 5px; 
}

a.button7 {
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: .6em 1em calc(.6em + 2px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url('icon_top.png') no-repeat;
}
.topbutton {

    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:42px;
    right:1px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

}

.buttontop {

    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:1px;
    right:1px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

}


del{
  color:green;
  font-size:20px;
}
input:valid + span:after {
    content: url(images/ok.png); 
    padding-left: 5px;

   }
   input:invalid + span:after {
    content: url(images/nook.png);
    padding-left: 5px;

   }
   input[type="number"] {
    margin-right: -3px;
   }
   /*.card{
 padding-left: 10%;

   }*/
   .dani{
     padding-left: 2%;
   }
  .form1{
   padding-right: : 60%;
    margin: 50px;
    float: right;
  }
