
{% extends "mainApp/header.html" %}
 {% load static %}
 {%block content %}
 <!-- basic styling just for this demo -->
	<style type="text/css" media="screen">
		*{margin:0 auto;}
		#wrapper {width:90%;margin:15px auto;}
		p { margin:20px 0;}
	</style>

   	<link rel="stylesheet" href="../css/style.css"/>

	<!-- jquery -->	
	<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<!-- easing plugin ( optional ) -->
	<script src="../js/easing.js" type="text/javascript"></script>
	<!-- UItoTop plugin -->
	<script src="../js/jquery.ui.totop.js" type="text/javascript"></script>
	<!-- Starting the plugin -->
	


	<p><h1 align="center"><font size="6" color="black" > Чоловічі парфуми </font></h1></p>
			<link rel="stylesheet" href="../css/style_WM.css"/>

	<script src="../js/scrips.js"></script>
	<!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	
	<table border = "0" width ="70%"   height="70%" align= "center" >
		
	<tr>
					
          {% for product in products %}
			<th> <a href="index_M_1.html" > <img  src =  "{{ product.image }}"  height="40%" width="50%" alt="картинку вкрали" > 
	<div  class="infa_parfum">  {{ product.name }} </div> <a> 393 грн </a> <br><br><a href="#" class="button7"> купити </a></th>
		{% endfor %}
			
		</tr>
</table>
	
<!-- jquery -->	
	<script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<!-- easing plugin ( optional ) -->
	<script src="../js/easing.js" type="text/javascript"></script>
	<!-- UItoTop plugin -->
	<script src="../js/jquery.ui.totop.js" type="text/javascript"></script>
	<!-- Starting the plugin -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
	  			containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
	 		};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>

{% endblock %}

	