 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body>
 	
<iframe src="https://www.google.com/maps/d/embed?mid=1vgb4_LaAXB9PfhPUxYYO43SnHfBMgbkx" width="640" height="480"></iframe>
<h3> м. Коломия</h3>

<h3>з 8:00 до 20:00 вихідні :субота-неділя</h3>

<h3>Тел. 073-045-41-93</h3>

<h3>Адрес: м.Коломия, вул. Тараса Шевченка</h3>

<h3>Срок зберігання  заказу на пункті видачі 5 днів.</h3>
<h3>Всі ваші зауваження і пропозиції:</h3>


<p>Напишіть нам</p>
<form action="contact.php" method="post">
	Your name<br>
    <input type="text" name="cf_name"><br>
	Your e-mail<br>
    <input type="text" name="cf_email"><br>
	Message<br>
    <textarea name="cf_message"></textarea><br>
	<input type="submit" value="Send">
	<input type="reset" value="Clear">
</form>

 </body>
 </html>
