 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	{%  load staticfiles %}
 	 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% load static %}
 	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/log_in_style.css'%}" type="text/css">
	<!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<!-- basic styling just for this demo -->
  <style type="text/css" media="screen">
    *{margin:0 auto;}
    #wrapper {width:90%;margin:15px auto;}
    p { margin:20px 0;}
  </style>


<body>
  <header>
<nav class="navbar navbar-default">
	<div class="container-fluid">
     <div  class="navbar-header">
     	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="https://www.dropbox.com/s/x9ayacbp9scqf0l/aromaTrans.png?raw=1"width="80" alt="parfum" class="img2"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        	<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Товари <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'menu' %}">Жіночі парфуми</a></li>
              <li><a href="{% url 'menu' %}" >Чоловічі парфуми</a></li>
              
            </ul>
          </li>
  
          
          <li><a href="{% url 'about' %}">Де наc знайти</a></li>
          
          {% if not auth %}
         <li class="dropdown" id="login_form">
            <a href="#" href="log_in.html" class="dropdown-toggle" data-toggle="dropdown" >Вхід <bclass="caret"></b></a>
            <ul class="dropdown-menu">
              <form method="POST" >
                {% csrf_token %}
                    <div class="dws-input">
                      <h4>Логін</h4>
                      <h4 style="color: red" id="error"></h4>
                      <input type="text" id="login_username" name="username" placeholder="Введіть логін">
                    </div>

                    <div class="dws-input">
                      <h4>Пароль</h4>
                      <input type="password" id="login_password" name="password" placeholder="Введіть пароль">
                    </div>
                    
                    <input class="dws-submit" type="button" name="submit" id="login_submit" value="ВВІЙТИ"><br/>
                    <div class="logos">
                     <a href="{%  url 'registration' %}">Реєстрація</a>
                      <a href="#">Забули пароль?</a>
                    </div>
             
              </form>  
            </ul>
            <script>
              username =  $("#login_username")
              password = $("#login_password")
              $("#login_submit").click(function (e) {
                e.preventDefault();
                $.ajax({
                  url: "{% url 'index' %}",
                  method: "POST",
                  data: {
                    username: username.val(),
                    password: password.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  "dataType": "json"
                }).done(function (data) {
                  if(!data.authentification){
                    username.attr("style", "border: 1px solid #ff0000")
                    password.attr("style", "border: 1px solid #ff0000")
                    alert("Невірний логін або пароль")
                  }
                  else{
                    alert("Ви успішно війшли")
                    $("#login_form").hide()
                  }
              })
              })

            </script> 
            {% endif %}
		<li><a href="#"><img src=" https://www.dropbox.com/s/5hg0x9a8xbw1zsn/basketTransperent.png?raw=1" width="50" alt="parfum" class="img">  </a></li>
		</ul>
      </div>
    </div>
	</nav>
	</header>


      {% block content %}
      {% endblock %}

  


     
</body>
 </html>






