 <!DOCTYPE html>
 <html>
 <head>
 	<title>Aroma natali</title>
 	{%  load staticfiles %}
 	 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	
  <link rel="stylesheet" href="{%  static 'intl-tel-input/build/css/intlTelInput.css' %}" type="text/css">


  {% load static %}
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/log_in_style.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bas.css' %}" type="text/css">
	<!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{% static 'js/easing.js' %}"></script>
  <script src="{% static 'js/jquery.ui.totop.min.js' %}"></script>
  <!-- Jquery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'intl-tel-input/build/js/intlTelInput.js' %}"></script>
  <script src="{% static 'intl-tel-input/build/js/utils.js' %}"></script>
</head>
<!-- basic styling just for this demo -->
  <style type="text/css" media="screen">
    *{margin:0 auto;}
    #wrapper {width:90%;margin:15px auto;}
    p { margin:20px 0;}
  </style>


<body>
  <header>
<nav class="navbar navbar-default">
	<div class="container-fluid">
     <div  class="navbar-header">
     	 <button type="button" class="navbar-toggle" id="small_btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'index' %}"><img src="https://www.dropbox.com/s/x9ayacbp9scqf0l/aromaTrans.png?raw=1"width="80" alt="parfum" class="img2"></a>
      </div>
        <style>

        </style>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        	<li class="dropdown">
            <a href="{% url 'menu' 2 %}" class="dropbtn">Товари <b class="caret"></b></a>
            <ul class="dropdown-content" class="dropdown-menu" >
              <a href="{% url 'menu' 1 %}">Жіночі парфуми</a><br>
              <a href="{% url 'menu' 0 %}" >Чоловічі парфуми</a>
              
            </ul>
          </li>
  
          <li><a href="{% url 'about' %}">Де наc знайти</a></li>
          
          {% if not auth %}
         <li class="dropdown" id="login_form">
            <a href="#" href="log_in.html"  class="dropbtn" class="dropdown-toggle" data-toggle="dropdown" >Вхід <bclass="caret"></b></a>
            <ul class="dropdown-menu" class="dropdown-content">
              <form method="POST" >
                {% csrf_token %}
                    <div class="dws-input">
                      <h4>Логін</h4>
                      <h4 style="color: red" id="error"></h4>
                      <input type="text" id="login_username" name="username" placeholder="Введіть логін">
                    </div>

                    <div class="dws-input">
                      <h4>Пароль</h4>
                      <input type="password" id="login_password" name="password" placeholder="Введіть пароль">
                    </div>
                    
                    <input class="dws-submit" type="button" name="submit" id="login_submit" value="ВВІЙТИ"><br/>
                    <div class="logos">
                     <a href="{%  url 'registration' %}">Реєстрація</a>
                      <a href="{% url 'reset_password' %}">Забули пароль?</a>
                    </div>
             
              </form>  
            </ul>
            <script>
              username =  $("#login_username")
              password = $("#login_password")
              $("#login_submit").click(function (e) {
                e.preventDefault();
                $.ajax({
                  url: "{% url 'index' %}",
                  method: "POST",
                  data: {
                    username: username.val(),
                    password: password.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  "dataType": "json"
                }).done(function (data) {
                  if(!data.authentification){
                    username.attr("style", "border: 1px solid #ff0000")
                    password.attr("style", "border: 1px solid #ff0000")
                    alert("Невірний логін або пароль")
                  }
                  else{
                    alert("Ви успішно війшли")
                    location.replace("{% url 'index' %}")
                  }
              })
              })

            </script> 
            {% endif %}
		<li><a href="#" id="opener"><img src=" https://www.dropbox.com/s/5hg0x9a8xbw1zsn/basketTransperent.png?raw=1" width="50" alt="parfum" class="img"> </a></li>
      <script>
  $( function() {
    var wWidth = $(window).width();  // window width
    var wHeight = $(window).height(); //  window height
    var dWidth = wWidth * 0.8;  // dialog width 80% of window size
    var dHeight = wHeight * 0.8;
    $( "#dialog" ).dialog({
      autoOpen: false,
      minWidth: dWidth,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });
 
    $( "#opener" ).on( "click", function() {
      $( "#dialog" ).dialog( "open" );
    });

    $("#opener").click(function () {
      $.ajax({
        method: "POST",
        url: "{% url 'get_products' %}",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
        }
    }).done(function (data) {
      console.log(data)
      $.each(data, function () {
        $(".products_inside_cart").append("<a><img  src='"+ this.image +"' width='160px' alt='parfum' class='foto1'> </a> <div class='name_buy1'>"+this.name+"  <div class='price_buy1'>"+this.price+" грн <input class='num1' id='value_"+this.id+"' type='number' value='"+this.amount_in_basket+"' min='1' max='100'> <div class='suma_buy1'>"+ (this.price * this.amount_in_basket) +" грн <div class='X1'> <a href='#' id='delete_product_cart_btn_"+this.id+"'><img  src='https://steamuserimages-a.akamaihd.net/ugc/892140497684987363/C59D7710C43F385DCCE13661F92707019C326EC2/' width='18px'  class='foto1'> </a> <hr  size='2' color='#C0C0C0' class='line1'><br/></hr></div></div></div></div>")
         
          var script = document.createElement("script");
          script.innerHTML =' $("#delete_product_cart_btn_'+this.id+'").click(function (e) { e.preventDefault();$.ajax({method: "POST", url: "{% url 'delete_from_cart' %}",data: {id: '+this.id+',csrfmiddlewaretoken: "{{ csrf_token }}", } }).done(function(){location.reload()})})'
          $(".products_inside_cart").append(script)
       
          var script = document.createElement("script");
          script.innerHTML = "$('#value_"+this.id+"').change(function(){value = $('#value_"+this.id+"').val();$.ajax({method:'POST',url: '{% url 'change_amount' %}',data: {proudct_id: "+this.id+",amount:value, csrfmiddlewaretoken: '{{ csrf_token }}'}}).done(function (data) {$('#value_"+this.id+"').attr('value', data.new_amount) });})"
          $(".products_inside_cart").append(script)

      })
        
      $(".sum_basket").append(" <input class='dw-basket1' type='submit' name='submit' value='Оформити заказ'>")
      $(".dw-basket1").click(function () {
          general_price = 0
            $.ajax({
              method: "POST",
              url: "{% url 'get_products' %}",
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
              }
          }).done(function (data) {
            $.each(data, function () {
              general_price += this.price*this.amount_in_basket;
            })
            confirmation = confirm("Сума: " + general_price + "грн. Хочете оформити заказ?")
            if(confirmation){
              location.replace("{% url 'checkout' %}")
            }
          })
        })
    })
    })

  });
  </script>
 
<div id="dialog" title="Корзина">
<div class="table1">
    <a>Корзина</a>
    <div class="name1">Назва:</div>
    <div class="price1">Ціна:</div>
    <div class="kilkist1">Кількість:</div>
    <div class="suma1">Сума:</div> 
      
  <script>
    
  </script>

      <!-- One product -->
      <div class="products_inside_cart">
        
      </div>
  <!-- End of product -->


      <div class="sum_basket">
      
       
    
      </div>

  </div>
      
  </div>

    {% if auth %}
    <li><a id="logout" href="{% url 'logout' %}">Вийти</a></li>
    {% endif %}
		</ul>
      </div>
    </div>
	</nav>
	</header>


      {% block content %}
      {% endblock %}

<script>
  $().UItoTop({ easingType: 'easeOutQuart' });

</script>  

     
</body>
 </html>






