{% extends "mainApp/header.html" %}
 {% load static %}
 {%block content %}
 <!-- <img src="{{ link }}", width="500px", height="500px"> -->




<p> <h1 align="center"><font size="6" color="blue" > Популярні парфуми </font></h1></p>
 <table border = "0" width ="70%" align= "center" >

    <tr>
      {% for product in products %}
      <th width="50%"> <a href="{% url 'product' product.id %}"> <img  src=" {{ product.image }}" align= "center"  width="80%"alt="parfum" > </a>
  <div class="infa_parfum">{{ product.name }} </div>
   <a> {{ product.price }} грн </a> <a href="{% url 'product' product.id %}"> <p><input type="button"  value=" Більше->"></p></a><br><br></th>
      {% endfor %}

    </tr>
  </table>
  





 	
 	

 	{% endblock %}