{% extends "mainApp/header.html" %}
 {% load static %}
 {%block content %}
	<link rel="stylesheet" href="../css/style.css"> </link>
	
</head>
<body>
	
<p><h1 align="center"><font size="6" color="black" > {{ product.name }} </font></h1></p>

<p> <img  src = "{{ product.image }}" align="left"  height="300em" alt="картинку вкрали" >  </a></p>
<br>

     <p>{{ product.description }}</p>



      <hr color="black" > </hr><br>
       &#160 &#160 <P_r>{{ product.price }} грн </P_r>&#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 
       	<a href="#" class="button7"> купити</a>
       		<br><br><br><br><br><br><br><br><br><br><br><br>
       	<input type="button" onclick="history.back();" value="Назад"/>


                   


{% endblock %}


