{% extends "mainApp/header.html" %}
 {% load static %}
 {%block content %}
{% if admin %}

<form action="{% url 'edit' %}", method="POST" enctype="multipart/form-data">
	{% csrf_token %}
<p><h1 align="center"><font size="6" color="black" > <input type="text" name="name" value="{{ product.name }}">  </font></h1></p>

<img  src = "{{ product.image }}" align="left" id="product_image_page"  alt="картинку вкрали" >
<input type="file" id="file1" name="image" accept="image/*" capture style="display:none"/>
<input type="text"  name="id" value="{{ product.id }}" style="display:none"/>
<img src="https://www.dropbox.com/s/papt31v7vtq4j0b/editBtn.jpg?raw=1" id="upfile1" style="cursor:pointer" / width="2%">
 <!-- <input type="file" src="https://www.dropbox.com/s/papt31v7vtq4j0b/editBtn.jpg?raw=1" width="2%" />  </a></p> -->
<br>


    <p><textarea type="text" name="description">{{ product.description }}</textarea> </p>
  <hr color="black" > </hr><br>
   &#160 &#160 <P_r><input type="number" name="price" value="{{ product.price }}"> грн </P_r> &#160 &#160




	<input type="number" name="stock" value="{{ product.amount_present }}" width="1%">
	Для кого
	<select name="gender">
		<option value="0">Чоловіків</option>
		<option value="1">Жінок</option>
		<option value="2">Унісекс</option>
	</select><br>
  Відображатиметься на головній сторінці? <input type="checkbox" name="featured"  {% if product.is_featured == 1 %}checked{% endif %}>
	<br><br>
  <input type="submit" value="Відправити">
</form>
<script>
	$(document).ready(function(e) {


        $(".showonhover").click(function(){
			$("#selectfile").trigger('click');
		});
    });


var input = document.querySelector('input[type=file]'); // see Example 4

input.onchange = function () {
  var file = input.files[0];
  var formData = new FormData()
  formData.append("fileToUpload", file)
  var imgURL = URL.createObjectURL(file)
  console.log(formData.value)
  console.log(imgURL)
  $("#product_image_page").attr("src", imgURL)

};



$("#upfile1").click(function () {
    $("#file1").trigger('click');
});



</script>
{% else %}
<p><h1 align="center"><font size="6" color="black" > {{ product.name }} </font></h1></p>

<p> <img  src = "{{ product.image }}" align="left"  height="300em" alt="картинку вкрали" >  </a></p>
<br>

     <p>{{ product.description }}</p>



      <hr color="black" > </hr><br>
       &#160 &#160 <P_r style="float:left; margin-left: 3%;">{{ product.price }} грн </P_r> &#160 &#160 &#160 &#160 &#160 &#160 &#160 
       	<a href="#" class="button7" style="float:left; margin-left:3%;"> купити</a>
       		
</div>
{% endif %}
{% endblock %}


