{% extends "mainApp/header.html" %}
 {%block content %}
 {% load static %}
 <link rel="stylesheet" href="{%  static 'css/registration_style.css' %}" type="text/css">
     
	<h1><div  class="dws-input">Реєстрація</div></h1>
	<h4><p class=" reg">Заповнити анкету потрібно лише один раз, надалі всі ваші дані будуть зберігатися тут.</br>
Ми гарантуємо повну збереження ваших особистих даних.</br> Інформація про друзів ми не продаємо;</p></h4>
<div >
	<form action="{% url 'registration' %}", method="POST">
		{% csrf_token %}
		<div class="dws-input">
			<input type="text" name="username" placeholder="Ваш логін">
		</div>
		<div class="dws-input">
			<input type="text" name="fіrstname" placeholder="Ім'я">
		</div>
		
		<div class="dws-input">
			<h2>Фамілія</h2>
			<input type="text" name="lastname" placeholder="Фамілія">
		</div>

		<div class="dws-input">
			<h2>Елекронна пошта</h2>
			
			<input type="text" name="email" placeholder="Елекронна пошта">
		</div>

		<div class="dws-input">
			<h2>Номер телофона</h2>
		
			<input type="text" name="phone" placeholder="Номер телофона">
		</div>

		<div class="dws-input">
			<h2>Пароль</h2>
			
			<input type="password" name="password" placeholder="Пароль">
		</div>

		<input class="dws-submit" type="submit" name="submit" value="ВІДПРАВИТИ"><br />
	</form>
		
	</div>
</div>
{% endblock %}